<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>http://localhost:4000</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzZ2p2endqenBzZGdzamNpZnNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5ODIzNTQsImV4cCI6MjA5MDU1ODM1NH0.qeCYodwnAFCSENfYyTJUqSrR2BnmeYE5MZrnwbEI4OU</string>
	<key>SUPABASE_URL</key>
	<string>https://esgjvzwjzpsdgsjcifsd.supabase.co</string>
</dict>
</plist>
